<section class="featuredshort container">
    <header class="teaserhead">
      <h2 class="sectiontitle">Featured Short Story &rsaquo;&rsaquo;</h2>
      <h3>Keep the Corpse Hot</h3>
      <h4>By T.W. Ford</h4>
    </header>
    <article class"hpteaser">
      <p>As he drew up at the small suburban estate in the darkness, Ben Hood pondered on Cooper's strange request at his investigation agency. "Hood," Cooper, the ultrasonics expert, had said, "I'm scared for my life; I want you to get me officially dead&mdash;not actually&mdash;as quickly as possible."</p>
      <p>Raw&ndash;boned Ben Hood had almost fallen to the Aubusson carpet under his desk; it sounded cockeyed with a capital "C". But when the massive, gray&ndash;haired Cooper explained&mdash;it didn't sound so crazy. The head of the new plant with a government contract in Banson City had had two attempts made on his life recently. There were three men he suspected; he had figured it out if those three believed him dead, the one who wanted him that way might show his hand&mdash;if he thought himself in danger of being accused.</p>
      <p class="readmore">Read more &hellip;</p>
    </article>
  </section> <!-- end section featuredshort -->

  
  <section class="sslist container">
    <p>For more short stories, go to <a href="/short-stories">Short Stories</a></p>
  </section> <!-- end section sslist -->

  
  <section class="booklist container">
    <p>For exciting murder mystery novels, browse our <a href="/book-catalog">Book Catalog</a></p>
  </section> <!-- end section booklist -->