<section class="bookcatalog container">

	<header class="bc__header">
		<h2>Coming Soon!</h2>
		<h3>Sign up <a href="#bc__notify-form">below</a> to be notified when new titles are released.</h3>
	</header>
	
	<div class="bc__notify">
		<p>Get presale discounts, beta&#45;reader opportunities and other special deals &mdash; for subscribers only. And get free short stories delivered to you inbox.</p>

		{% include BC-form.html %}

		<h3>Current works in progress include&#58;</h3>
		<ul class="cards bc__list clearfix">
			<li class="card bc__book">
				<h2 class="card__title bc__title">And Sudden Death</h2>
				<h3 class="card__author bc__author">Cleve F. Adams</h3>
			</li>
			<li class="card bc__book">
				<h2 class="card__title bc__title">The Blonde in Black</h2>
				<h3 class="card__author bc__author">Ben Benson</h3>
			</li>
			<li class="card bc__book">
				<h2 class="card__title bc__title">Death Hits the Jackpot</h2>
				<h3 class="card__author bc__author">Walter Wager</h3>
			</li>
			<li class="card bc__book">
				<h2 class="card__title bc__title">Target in Taffeta</h2>
				<h3 class="card__author bc__author">Ben Benson</h3>
			</li>
			<li class="card bc__book">
				<h2 class="card__title bc__title">Murder on Delivery</h2>
				<h3 class="card__author bc__author">Spencer Dean</h3>
			</li>
			<li class="card bc__book">
				<h2 class="card__title bc__title">The Avenger</h2>
				<h3 class="card__author bc__author">Matthew Blood</h3>
			</li>
			<li class="card bc__book">
				<h2 class="card__title bc__title">I'll Bury My Dead</h2>
				<h3 class="card__author bc__author">James Hadley Chase</h3>
			</li>
			<li class="card bc__book">
				<h2 class="card__title bc__title">The Silver Cobweb</h2>
				<h3 class="card__author bc__author">Ben Benson</h3>
			</li>
		</ul>
	</div>

	<!-- <hr> -->

	

</section> <!-- end section bookcatalog -->