<button class="smButton" id="bookmark" title="Bookmark this story to read later">
			<span data-icon="&#xf097;"></span>
			<span class="label">Bookmark</span>
			<!-- <span class="label label__active">Bookmarked</span> -->
		</button> <!-- end button bookmark -->


		<button class="smButton" id="share" title="Share &amp; titillate your friends">
			<span class="icon"><i class="fa fa-bullhorn"></i></span>
			<span class="label">Share</span>
		</button> <!-- end button share -->

		<button class="smButton" id="embed" title="Copy the URL to embed anywhere">
			<span class="icon"><i class="fa fa-share-alt"></i></span>
			<span class="label">Embed</span>
		</button> <!-- end button embed -->

		<button class="smButton" id="download" title="Download to your ereader">
			<span class="icon"><i class="fa fa-cloud-download"></i></span>
			<span class="label">Download</span>
		</button> <!-- end button download -->

		<button class="smButton" id="readmore" title="Choose another short story">
			<span class="icon"><i class="fa fa-hand-o-right"></i></span>
			<span class="label">Read More</span>
		</button> <!-- end button download -->