<div class="card">
	<div class="card-image">
  	<h2>Daughter of the Pigeon <span>Harry G. Hervey, Jr.</span></h2>
	</div>
	<p style="padding: 0.5rem;">A Polynesian beauty, taken hostage by a warring clan. Can a simple sailor, trying to win a dare, save her before evil envelops her and destroys him?</p>
</div>








<!-- <div class="content float-left">
            <div class="card">
                <h1>This is a card!</h1>
                <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
            </div>
            
            
            <div class="card">
                <div class="card-image image1"></div>
                <p>Yep, just some simple content ecapsulated in this card.</p>
            </div>
            
            
            <div class="card">
                <div class="card-image image2">
                    <div class="banner"></div>
                    <h2>Image, Banner, &amp; HTML</h2>
                </div>
                <p>All standard HTML structures, styled with CSS.</p>
            </div>
            
             <div class="card fixed-width">
                <h1>This is a card!</h1>
                <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
            </div>
            
            <div class="card fixed-width">
                <div class="card-image image3">
                    <h2>Image, Banner, &amp; HTML</h2>
                </div>
                <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
            </div>
            
            <div class="card fixed-width">
                <h1>This is a card!</h1>
                <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
            </div>
            
            <div class="card fixed-width">
                <div class="card-image image4">
                    <div class="banner"></div>
                    <h2>Image, Banner, &amp; HTML</h2>
                </div>
                <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
            </div>
            
            <div class="card fixed-width">
                <h1>This is a card!</h1>
                <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
            </div>
            
        </div> -->




        <!-- OTHER STUFF FOR CARD2.HTML -->

<section class="container trf__archive">
<!--     <header>
      <h1>THE RED FILE Archive</h1>
      <h3>Read, download, purchase back issues.</h3>
    </header> -->

    <div class="current-issue">
      <h2>Current Issue &hellip;</h2>

      <figure>
        <img src="/assets/img/rf-cover.png" alt="">
        <figcaption>Vol. 1, No. 1</figcaption>
      </figure>

      <div class="ci__description">

        <h3>Premium Stories</h3>
        <ol>
          <li>The Unbelievable by J. B. Hawley</li>
          <li>Daughter of the Pigeon by Harry C. Hervey, Jr.</li>
        </ol>

        <h3>Stories</h3>
        <ul>
          <li>The Mountain Comes to Mohammed</li>
          <li>Ghost-Town Slays</li>
          <li>You'll Kill the People</li>
          <li>Double-Crosser</li>
          <li>The Long Arm of God</li>
          <li>Appearances Are Deceiving</li>
          <li>Odds Are On Death</li>
          <li>Satan Hogs the Camera</li>
          <li>Deuces Dealt for Death</li>
          <li>Fear</li>
        </ul>

      </div> <!-- end div .description -->

    </div> <!-- end div .current-issue -->

    <div class="clearfix"></div>

    <hr>

    <div class="prev-issues">
      
      <ul>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 2</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 3</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 4</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 5</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 6</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 7</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 8</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 9</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/assets/img/rf-cover.png" alt="">
            <figcaption>Vol. 1, No. 10</figcaption>
          </figure>
        </li>
      </ul>

    </div> <!-- end div .prev-issues -->

    <div class="clearfix"></div>


  </section> <!-- end section .trf__archive -->

  <!-- <section class="rf-archive__footer container">

 style="border:1px solid black; background-color:lightgrey;font-size:0.75rem;padding: 1rem;max-width:600px;"

    <dd>Every week, I publish a free email digest of new stories soon to be published on TalesofMurder.com. Each issue includes 10 short stories available free to anyone visiting the site, and 2 subscriber&#8209;only premium stories of greater length.</dd>
    <dd>Each issue is published a week before any of the stories are released on the site, giving subscribers between eight and twelve days advanced reading enjoyment.</dd>
    <dd>Would you like to get THE RED FILE delivered free to your inbox every week?</dd>
    <dd>Would you like thrilling murder mystery stories to enjoy before the aveage Joe?</dd>
    <dd>Are you ready to be included in this special cadre of detectives, helping to solve the murders within?</dd>
    <dd>If you answered "YES!" to any of these questions, then you want THE RED FILE. Sign up is easy &hellip; just requires a valid email address.</dd>
    <dd>SIMPLE FORM</dd>
  </section> -->




