<section class="download-instructions">
	<div class="container">
		<h3>Instructions&#058;</h3>
		<h4>How to load your new short story onto your ereader device</h4>

		<div class="di__kindle">
			<h4>Kindle</h4>
			<ol>
				<li>Step 1</li>
				<li>Step 2</li>
				<li>Step 3</li>
				<li>Step 4</li>
			</ol>
		</div> <!-- end div di__kindle -->

		<div class="di__epub">
			<h4>ePub 3.0</h4>
			<ol>
				<li>Step 1</li>
				<li>Step 2</li>
				<li>Step 3</li>
				<li>Step 4</li>
			</ol>
		</div> <!-- end div di__epub -->



	</div> <!-- end div container -->
</section>