<!-- MASTHEAD -->

<header class="site__header">
	<div class="container">
		
		<div class="masthead clearfix">
				<a href="/">
				<img src="/assets/img/circle_crow_paper.png" alt="" class="logo grit">
				<div class="branding">


					<h3 class="site-title__pre grit">Tales of</h3>

					
					<h2 class="site-title grit"><span class="r">m</span><span class="m">urde</span><span class="r">r&nbsp;</span></h2>

					<h3 class="site-tagline grit">for readers with time to <span>kill</span>&nbsp;!</h3>

				

				</div> <!-- end div .branding -->
				</a>

					

			<!-- <div class="clearfix"></div> -->

			<div class="navicon toggle-menu menu-right">
      	<i class="fa fa-navicon"></i>
    	</div>
			
		</div> <!-- end of div masthead -->