<!-- MASTHEAD -->

<header class="site__header">
	<div class="container">
		
		<div class="masthead">
			<div class="branding clearfix">
				<a href="/">
					<img class="logo" src="/assets/img/circle_crow_white.png" alt="Tales of Murder logo">
					<h2 class="title">Tales of <span>Murder</span></h2>
					<h3 class="tagline">for readers with <span>time to <em>kill</em>!</span></h3>
				</a>
			</div>

			<div class="navicon toggle-menu menu-right">
      	<i class="fa fa-navicon"></i>
    	</div>
			
		</div> <!-- end of div masthead