<!-- MAIN NAVIGATION MENU -->

    <nav class="nav__primary cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
      
      <h1 class="hidden">Main Navigation</h1>
      <div class="nav__basic">
        <!-- <h3>Menu</h3> -->
        <a {% if page.url == '/index.html' %} class="active" {% endif %} href="/index.html">Home</a>
        <a {% if page.url == '/about/index.html' %} class="active" {% endif %} href="/about/index.html">About</a>
        <a {% if page.url == '/short-stories/index.html' %} class="active" {% endif %} href="/short-stories/index.html">The&nbsp;Blotter</a>
        <a {% if page.url == '/book-catalog/index.html' %} class="active" {% endif %} href="/book-catalog/index.html" style="color:darkred; font-weight:bold;">THE&nbsp;RED&nbspFILE</a>
        <!-- <a {% if page.url == '/murderbook/index.html' %} class="active" {% endif %} href="/murderbook/index.html">MurderBook</a> -->
      </div> 
    </nav> <!-- nav__primary -->

  </div> <!-- end div frame --> 
</header> <!-- site__header -->