<!-- AWeber Web Form Generator 3.0 -->

<form class="registerUser" accept-charset="UTF-8" action="#" > <!-- af-form-wrapper method="post" ; https://www.aweber.com/scripts/addlead.pl -->
	<input type="hidden" name="meta_web_form_id" value="2123962128" />
	<input type="hidden" name="meta_split_id" value="" />
	<input type="hidden" name="listname" value="awlist3769744" />
	<input type="hidden" name="redirect" value="" id="redirect_da41faab527b68774d6c691d2e99cdd6" />
	<input type="hidden" name="meta_redirect_onlist" value="" id="redirect_da41faab527b68774d6c691d2e99cdd6"/>
	<input type="hidden" name="meta_adtracking" value="PremiumContent_Form" />
	<input type="hidden" name="meta_message" value="1" />
	<input type="hidden" name="meta_required" value="email" />

	<input type="hidden" name="meta_tooltip" value="" />
	
	<label class="previewLabel" for="awf_field-71683747">STEP 1&#058; Enter Your email &hellip; </label>
	<input class="text" id="awf_field-71683747 pr__email" type="text" name="email" value="" tabindex="500" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
	
	<label class="previewLabel" for="af-submit-image-2123962128">STEP 2&#058; Click to register &hellip; </label>
	<input name="submit" id="af-submit-image-2123962128" type="submit" value="Register Me!" class="register__premium submit-btn" alt="Submit Form" tabindex="501" />

	<label class="previewLabel">Step 3&#058; Enjoy the complete story!</label>
	
	<img src="https://forms.aweber.com/form/displays.htm?id=TIxMzJxsTIxMHA==" alt="" /></div>
</form>


<script type="text/javascript">document.getElementById('redirect_da41faab527b68774d6c691d2e99cdd6').value = document.location;</script>
<!-- /AWeber Web Form Generator 3.0