<div class="read-more hidden">
	<div class="box">
		<!-- <div class="icon__standalone"></div> -->
		<h3 style="color:$acolor;"><i class="fa fa-sign-in"></i>&nbsp;PREMIUM CONTENT</h3>
		<h4>REGISTRATION REQUIRED</h4>
		<p>To read the rest of this story, please register. It's simple and only requires a valid email address! <em>Yep&hellip;that's it!</em></p>
		<p>When you register, I'll give you&#058;</p>
		<ul class="fa-ul read-more__list">
			<li><i class="fa-li fa fa-cog fa-spin"></i>Full access to all <span>premium</span> content across the site!</li>
			<li><i class="fa-li fa fa-cog fa-spin"></i>Downloadable <span>ereader</span> editions of every story on the site!</li>
			<li><i class="fa-li fa fa-cog fa-spin"></i><span class="redfile">THE RED FILE</span> weekly email digest!</li>
		</ul>

		<div class="read-more__buttons">
				<button class="ssactions__button" id="register__button" type="button">
					<span class="icon"><i class="fa fa-sign-in"></i></span>
					<span class="label">Register</span>
				</button>

				<a href="/short-stories/#page-intro">
					<button class="ssactions__button" id="no__register" type="button">
						<span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
						<span class="label">No, thanks!</span>
					</button>
				</a>
			</div> <!-- end div read-more__buttons -->
		
		<div id="panel">

			{% include premium_form.html %}

			<!-- <form name="regForm" id="regForm" class="registerUser" action="#">

				<input type="hidden" id="storyId" name="storyId" value="{{ page.storyId }}">
				
				<label for="regEmail">Step 1: Enter you email</label>
				<input id="regEmail" type="email" name="email">
				
				<label for="regSubmit">Step 2: Submit</label>
				<input id="regSubmit" type="submit" value="Register Me!">
				
				<p style="text-align:center;"><em>Yep&hellip;that's it!</em></p>

			</form> -->
						
		</div> <!-- end div panel -->

	</div> <!-- end div box -->
</div> <!-- end div read-more -->











