<section class="registeruser">

	<div class="overlay">
		<div id="modal-content">
			<h2>REGISTERED USERS ONLY</h2>
			<p>This story is available for registered users only. But registeration only requires a valid email address, &amp; when you register, you get&#058;</p>
			<ul>
				<li>Access to all PREMIUM stories</li>
				<li>Downloadable versions (.mobi, ePub, &amp; PDF</li>
				<li>Subscription to the weekly RED FILE digest</li>
			</ul>
			<button id="register">Register</button>
			<button id="reject">No, thanks</button>
		</div> <!-- end div modal-content -->
	</div> <!-- end div overlay -->

</section> <!-- end section registeruser -->