<div class="pagination__nav container">
    
    <ul>
      <li>
        <!-- if previous page -->
        {% if post.previous_page %}
          <span class="previous"><a rel="prev" href="{{ paginator.previous_page_path }}">&laquo; Previous Stories</a></span>
        {% else %}
          <span class="previous previous__none">First Page</span>
        {% endif %}
      </li>

      <li>
        <!-- if next page -->
        {% if post.next_page %}
          <span class="next"><a rel="next" href="{{ paginator.next_page_path }}">Next Stories &raquo;</a></span>
        {% else %}
          <span class="next next__none">Last Page</span>
      {% endif %}
      </li>
    </ul>

  </div> <!-- end div .pagination__nav -->