<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/assets/js/scripts.min.js"></script> -->

<!--load jQuery, required-->
<script src="/assets/js/vendor/jquery-1.11.2.js"></script>

<script src="/assets/js/vendor/jquery-ui.min.js"></script>

<!--load jPushMenu, required-->
<script src="/assets/js/vendor/jPushMenu.js"></script>

<script src="/assets/js/vendor/slabtext.js"></script>

<script src="/assets/js/vendor/scroll-on-page.js"></script>

<script src="/assets/js/vendor/store.js"></script>

<script src="/assets/js/vendor/flipclock.min.js"></script>

<!-- <script src="/assets/js/vendor/expandable-section.js"></script> -->

<!-- animated progbar -->
<script>
  function MoveTo() {
    var prpos = document.getElementById('prpos');
    prpos.style.width = document.getElementById('moveTo').value + "%";
  } 
</script>

<!--call jPushMenu, required-->
<script>
  jQuery(document).ready(function($) {
   $('.toggle-menu').jPushMenu();
 });
</script>

<!-- <script src="/assets/js/vendor/rwd.js"></script> -->

<script>
	$("h1").slabText({});
</script>

<script type="text/javascript">
	$(document).ready(function() {
    var expanderTrigger = document.getElementById("js-expander-trigger");
    var expanderContent = document.getElementById("js-expander-content");

    $('#js-expander-trigger').click(function(){
      $(this).toggleClass("expander-hidden");
    });
  });
</script>

<script>

  (function() {

   var co = $('article').find('span.co').each(function() {
    var $this = $(this);

    $('<blockquote></blockquote>', {
     class: 'co',
     text: $this.text()
   }).prependTo( $this.closest('p') );

  });

 })();

</script>




<script>
  function regExpand() {
    console.log("button works!")
  }
</script>


<script> 
  $(document).ready(function(){
    $("#register__button").click(function(){
      $("#panel").slideDown("5000", "easeOutBounce");
    });
  });
</script>


<script type='text/javascript'>
  $(document).ready(function() {
    $(".time").text(function (index, value) {
      return Math.round(parseFloat(value));
    });
    $(".hour").text(function (index, value) {
      return Math.floor(parseFloat(value));
    });
  });
</script>

<!-- this is the simple working version to set localStore attributes ... not used in lieu of callback at the end of ajaxMailChimp (below) -->
<!-- <script>
	
	$(document).ready(function() {

		init()

		function init() {
			if (!store.enabled) {
				alert('Local storage is not supported by your browser. Please disable "Private Mode" to continue, or upgrade your browser.')
				return
			}
			$("#regSubmit").click(function() {
        store.set('registered', true);

        var email = $("#regEmail").val();
        store.set('email', email)

      })
		};
	})

</script> -->

<!-- CHECK LOCAL STORAGE -->
<!-- can I name this function/script?? -->
<script> 
	
	$(document).ready(function() {
		if ($("#thepost").hasClass("premium_post")) {
			console.log("Premium Post")
			
			if (!store.get('registered')) {
				console.log('UNREGISTERED User');
				$(".pc-tease").removeClass("hidden");
				$(".cu-tease").hide();
				$(".ssactions").hide();

				$(".read-more").removeClass("hidden");
				$("#thepost").addClass("notreg")
			}
			else {
				console.log('REGISTERED User');
                // console.log(email)
            }
            }
      else { 
             console.log("Post")
           }
         }) 
</script>




<!-- MAILCHIMP FORM STUFF -->

<!-- mailchimp-ajax.js -->
<script>
 var ajaxMailChimp = (function(){
 var module = {};

// Turn the given MailChimp form into an ajax version.
// If resultElement is given, the subscribe result is set as html to
// that element.
module.init = function ajaxMailChimpForm($form, $resultElement){

    // Hijack the submission. We'll submit the form manually.
    $form.submit(function(e) {
      e.preventDefault();

      if (!isValidEmail($form)) {
        var error =  "A valid email address must be provided."
        $resultElement.html(error);
        $resultElement.css("color", "red");
      } else {
        $resultElement.css({
         "background-color": "#fff",
         "color": "#8B0000",
         "margin-top": "1rem",
         "padding": "0.5rem"
       });
        $resultElement.html("Registering your download request &hellip;");
        $("#progress-bar").css("width", "75%").text("75%");
        submitSubscribeForm($form, $resultElement);
      }
    });
  };

// Validate the email address in the form
function isValidEmail($form) {
    // If email is empty, show error message.
    // contains just one @
    var email = $form.find("input[type='email']").val();
    if (!email || !email.length) {
      return false;
    } else if (email.indexOf("@") == -1) {
      return false;
    }

    return true;
  }

// Submit the form with an ajax/jsonp request.
// Based on http://stackoverflow.com/a/15120409/215821
function submitSubscribeForm($form, $resultElement) {
  $.ajax({
    type: "GET",
    url: $form.attr("action"),
    data: $form.serialize(),
    cache: false,
    dataType: "jsonp",
    jsonp: "c", // trigger MailChimp to return a JSONP response
    contentType: "application/json; charset=utf-8",

    error: function(error){
    // According to jquery docs, this is never called for cross-domain JSONP requests
  },

    success: function(data){
      if (data.result != "success") {
        var message = data.msg || "Sorry. Unable to subscribe. Please try again later."
        $resultElement.css("color", "red");

        // This won't happen if using "smart subscribe"
        if (data.msg && data.msg.indexOf("already subscribed") >= 0) {
          message = "You're already subscribed. Thank you."
          $resultElement.css("color", "white");
        }

        $resultElement.html(message);

        }

      else {
        // if $("#thepost").hasClass("premium_post") {
        //   var url = "#"
        // }
        // else 
        // var url = "http://552d72e8f92ea14461000001.governor-cow-56818.netlify.com/downloads/murderbook";
        
        // $(location).attr('href',url);
        
        location.reload();        

        var message = "Thank you!<br>You've been added to the list and will soon receive a link to download {{ page.title }}.";
        $resultElement.css({
        	"background-color": "#fff",
        	"color": "#8B0000",
        	"margin-top": "1rem",
        	"padding": "0.5rem"
        	});
        $resultElement.html(message);
        store.set('registered', true);

        var email = $("#mce-EMAIL").val();
        console.log(email);
        store.set('emailaddress', email);
      }
    }
  });
}

return module;

})();
</script>


























