<!-- AWeber Web Form Generator 3.0 -->

<form method="post" class="af-form-wrapper" accept-charset="iso-8859-1" action="http://www.aweber.com/scripts/addlead.pl" >
  <input type="hidden" name="meta_web_form_id" value="887734146" />
  <input type="hidden" name="meta_split_id" value="" />
  <input type="hidden" name="listname" value="awlist3582323" />
  <input type="hidden" name="redirect" value="http://www.aweber.com/form/thankyou_vo.html" id="redirect_c03ff2189d7195cbe6cefe6e6f14305d" />
  <input type="hidden" name="meta_adtracking" value="My_Web_Form" />
  <input type="hidden" name="meta_message" value="1" />
  <input type="hidden" name="meta_required" value="email" />
  <input type="hidden" name="meta_forward_vars" value="1" />
  <input type="hidden" name="meta_tooltip" value="" />


  <label class="previewLabel step" for="awf_field-69792957" style="color:#fff;">STEP 1&#58; Enter your email&nbsp;below</label>

  <input class="text" id="awf_field-69792957 email" type="text" value="Enter a Valid Email Here..." onblur="if(this.value=='') this.value='Enter a Valid Email Here...';" onfocus="if(this.value=='Enter a Valid Email Here...') this.value='';" >



  <label class="previewLabel step" for="awf_field-69792957" style="color:#fff;">STEP 2&#58; Click the button&nbsp;below&nbsp;<i class="fa fa-level-down"></i></label>

  <input type="submit" id="af-submit-image-887734146" name="" value="Sign me up!" class="submit-btn" />


</form>









<script type="text/javascript">
  <!--
  (function() {
    var IE = /*@cc_on!@*/false;
    if (!IE) { return; }
    if (document.compatMode && document.compatMode == 'BackCompat') {
      if (document.getElementById("af-form-887734146")) {
        document.getElementById("af-form-887734146").className = 'af-form af-quirksMode';
      }
      if (document.getElementById("af-body-887734146")) {
        document.getElementById("af-body-887734146").className = "af-body inline af-quirksMode";
      }
      if (document.getElementById("af-header-887734146")) {
        document.getElementById("af-header-887734146").className = "af-header af-quirksMode";
      }
      if (document.getElementById("af-footer-887734146")) {
        document.getElementById("af-footer-887734146").className = "af-footer af-quirksMode";
      }
    }
  })();
-->
</script>

<!-- /AWeber Web Form Generator 3.0 -->