<!-- MY form! -->

<form action="#" method="post">
  <div class="row">
    <p class="step">STEP 1&#58; Enter your email below</p>
    <input type="text" id="email" value="Enter a Valid Email Here..." onblur="if(this.value=='') this.value='Enter a Valid Email Here...';" onfocus="if(this.value=='Enter a Valid Email Here...') this.value='';" >
    <div class="clear"><br></div>
  </div>
  <div class="row">
    <p class="step">STEP 2&#58; Click the button below <i class="fa fa-level-down"></i></p>
    <input type="submit" name="" value="Sign me up!" class="submit-btn" />      
    <div class="clear"></div>
  </div>
</form>



