
<div class="salesletter">

  <h2>Get your detective juices flowing?!</h2>
  <h3>Bet it did &hellip; why stop now?</h3>
  <ul>
    <li>If you love a good mystery, like DEATH BY GAS &hellip;</li>
    <li>If you love murder on a rainy night, nefarious criminals skulking in back alleys, intrepid detectives racing the clock, damsels, [!]</li>
  </ul>

  <h4>Keep reading to find out how you can get more murder and more crime than you ever imagined</h4>

  <p>See, that's what I'm offering you here on TalesofMurder.com &hellip; thrilling murder mystery &amp; crime stories that grab hold of you and don't let go until the last line. Mystery. Danger. Suspense. Crime. Murder. All of it. In one place.</p>

  <h4><img src="[LOGO]" alt="Atticus, the Murderous Crow">Let me introduce myself</h4>

  <p>My name is Atticus, aka The Murderous Crow. I'm what you might call a literary detective. Not like ole Sherlock&ndash;a detective <em>in</em> literature. No, I investigate crime literature, itself. It's my job to search the dark alleys, the rain-soaked moors and lonely mansions, the small towns and big cities for the best murder mystery &amp; crime stories anywhere.</p>
  <p>I've collected these stories &mdash; ranging from short brain teasers like Death By Gas to full-length novels that'll keep you guessing long past your bedtime &hellip; and everything in between &mdash; and filed them here on TalesofMurder.com for your enjoyment.</p>
  <p>Classic stories from the past 100+ years, like:</p>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <p>Every week, I share 12 new stories ... 2 thrillers every weekday, plus a longer story (for Premium Members Only &hellip; find out, below, how you can become a subscriber!) every Monday &amp; Wednesday. That's over 40,000 words of mystery every week. Enough to keep you up every night!</p>

  <img src="" alt="fan image of covers">

  <p>Every story can be read online or downloaded to be enjoyed offline on your fav ebook reader &hellip; Kindle, Nook, Kobo, you-name-it.</p>
  
  <h4>But wait, there's more</h4>
  
  <p>Here's the deal ... I want to put the best murder myster &amp; crime literature in you hands. Stories from authors like:</p>
  
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <img src="" alt="">

  <p>Sure, you can stop by the site when you think of it. Browse the list of stories, sorting by genre ([list]), author, etc., and find a few goodies to read. But what if you miss one? What if you overlook that edge-of-your-seat thrill that'll cure the weekday blues?</p>

  <p>Well, you can get every story I have sent directly to your inbox, with a special link to send it to your ereader. No muss; no fuss. No worries about missing out.</p>

  <p>How does that sound?</p>

  <h4>Great, huh?! But what's the catch, you're asking?</h4>

  <p>No catch. Just a sweet deal for you. Ten exciting short stories, up to 7,500 words (or about a 45 min read) PLUS 2 longer (an hour or more to read) PREMIUM stories, all delivered to your favorite ereader for your enjoyment.</p>

  <p>"How?" you're asking!</p>

  <p>Simple. By subscribing to my weekly email digest of murder mystery &amp; crime stories called THE RED FILE.</p>

  <img src="" alt="THE RED FILE cover">

  <p>Every Sunday morning, you'll wake up to a new issue of THE RED FILE in your inbox. Just click, open and browser the Table of Contents. See a story that looks interesting? Click on it and you'll be instantly taken to a page to download that story.</p>

  <p>Or download the entire issue and enjoy 110+ pages of great murder mystery literature.</p>

  <p>But that's not all ...</p>

  
    
</div> <!-- end div salesletter -->
