
<div class="salesletter">

  <h2>Did you find the clues?</h2>
  <h3>I bet you did &hellip;</h3>
  <p>‘cause you strike me as a murder mystery pro, capable of seeing the hidden clues, deducing the unobvious connections, and figuring out the most complex puzzles.</p>
  <p>But I’ll also bet that I’ve got one or two crime stories in my collection that’ll stump you, thrill you, &amp; keep you up way past your bedtime.</p>

  <h3>Stories like&#58;</h3>
  <ul class="fa-ul salesletter__storylist">
    <li><span class="storytitle"><i class="fa-li fa fa-book"></i>You'll Kill the People</span> by Richard Brister</li>
    <li><span class="storytitle"><i class="fa-li fa fa-book"></i>First Come, First Killed</span> by D. A. Kyle</li>
    <li><span class="storytitle"><i class="fa-li fa fa-book"></i>The Devilry of Dr. Waugh</span> by Christopher B. Booth</li>
    <li><span class="storytitle"><i class="fa-li fa fa-book"></i>The Brand of Cain</span> by Ward Sterling</li>
    <li><span class="storytitle"><i class="fa-li fa fa-book"></i>Blueberry Pie</span> by Thyra Samter Winslow</li>
    <li><span class="storytitle"><i class="fa-li fa fa-book"></i>The Campaign for Vengence</span> by John Baer</li>
  </ul>
  
  <h3>Did you know &hellip;</h3> 
  <p>TalesofMurder.com hosts hundreds of the best murder mystery and crime stories, from short puzzles like <span class="storytitle">DEATH&nbsp;BY&nbsp;GAS</span> to epic, novella&#8208;length mysteries such as <em>female protagonist</em> tale, <span class="storytitle">THE&nbsp;CAMPAIGN FOR&nbsp;VENGENCE?</span></p>
  <p>And somewhere in that collection of murder stories lie one or two&mdash;maybe more&mdash;diabolical stories that’ll leave the most astute reader on the edge of their seat, chasing red herrings down blind alleys until the very last page, then leave them gasping.</p>
  
  <h3><img src="/assets/img/circle_crow.png" alt="Atticus, the Murderous Crow" height="50px" width="50px">Allow me to introduce&nbsp;myself</h3>
  <p>My name is Atticus, aka the Murderous Crow. That’s my mug there.</p>
  <p>As direct descendent of literary crows and ravens, I am responsible for maintaining the master record of literary detective, murder and crime mystery stories.</p>
  <p>And so, I’ll your guide here on TalesofMurder.com, where it is my job is to help you find the best murder mystery short stories available &hellip; from cozies to hardboiled, amateur sleuths and professionals, classic or modern.</p>

  <div class="faketest">
    <ul class="clearfix">
      <li>
        <blockquote class="faketest__bq"><i class="fa fa-quote-left fa-lg pull-left"></i>
          <p>When I'm stuck trying to find a good murder method, I find inspiration at Tales of Murder.</p>
          <cite>E. A. Poe</cite>
        </blockquote>
      </li>

      <li>
        <blockquote class="faketest__bq"><i class="fa fa-quote-left fa-lg pull-left"></i>
          <p>Tales of Murder &hellip; its my source for the best in murder mystery literature.</p>
          <cite>A. Christie</cite>
        </blockquote>
      </li>

      <li>
        <blockquote class="faketest__bq"><i class="fa fa-quote-left fa-lg pull-left"></i>
          <p>The best murder mystery stories since, well, since my work.</p>
          <cite>A. C. Doyle</cite>
        </blockquote>
      </li>

    </ul>
    <footer class="faketest__footer">All testimonials are fictional. We just think they <em>would</em> have said these kind things if they'd had access to TalesofMurder.com</footer>
  </div> <!-- end div faketest -->

  <p>These fine mystery masters love our stories, so let me introduce you to their favorite cases of revenge&#8208; &amp; jealousy&#8208;inspired murder, greed and avarice like you’ve never seen on the page &hellip; from little old ladies solving genteel murders to hardened PIs fighting not only crime on their mean streets, but their own inner demons.</p>

  <p>Sure, you can always just read these stories online &hellip; and we invite you to. But it’s easy to forget, get caught up in the busyness of life.</p>
  <p>By subscribing to the free <span style="color:darkred;">THE RED FILES</span> weekly email digest, you’ll not only get alerted to new stories but get exclusive content available only to <span style="color:darkred;">THE RED FILES</span> subscribers.</p>

  <h3>Subscribers to <span style="color:darkred;">THE RED FILES</span> receive&#58;</h3>
  <ul class="fa-ul salesletter__murderbook">
    <li><i class="fa-li fa fa-cog fa-spin"></i>10 new murder mystery &amp; crime short stories each week, up to 5,000 words in length <em>&hellip; delivering over <em>seven hours</em> of thrilling stories!</em></li>
    <li><i class="fa-li fa fa-cog fa-spin"></i>2 exclusive, subscriber&#8208;only stories, between 7,500 &amp; 10,000 words <em>&hellip; for longer, more in depth mystery enjoyment!</em></li>
    <li><i class="fa-li fa fa-cog fa-spin"></i>a mix of subgenres (cozy, noir, golden age, &amp; more) <em>&hellip; read the type of story you like best!</em></li>
    <li><i class="fa-li fa fa-cog fa-spin"></i>PDF, .mobi and ePub versions <em>&hellip; download and read anytime on your favorite ereader device!</em></li>
    <li><i class="fa-li fa fa-cog fa-spin"></i>early notification and discounts off Tales of Murder Press novellas and full&#8208;length novels <em>&hellip; read the best new stories before the general public!</em></li>
  </ul>

  <p class="salesletter__doyou">Do you love getting lost in a great mystery? Do you want proven bestsellers and award&#8208;winning stories? Do you have <em>time to kill</em> and want more than the latest social media dribble?</p>

  <h3>Then you want <span style="color:darkred;">THE RED FILES</span>!</h3>
  <p>Subscribe today and, just for trying it out, we’ll send you <span class="storytitle">Planned by the Stars</span> by C. S. Montanye &mdash; guaranteed to keep you guessing until the end, then leave you gasping at the ending.</p>
  <p>And it's downloadable in any ereader format so you can read it whether on your computer, iPad, iPhone, Kindle, Nook, or any other ereader device. Yours to enjoy as my way of saying <em>Thanks!</em> for checking out <span style="color:darkred;">THE RED FILES</span> &amp; TalesofMurder.com.</li>
    
  </div> <!-- end div salesletter -->
