/* ==========================================================================
   WELCOME GATE FORM STYLES
   ========================================================================== */

#mc_embed_signup {
	label {
		color: #fff;
		margin-bottom: 1rem;
		// padding-top: 0.5rem;
		text-align: left;
		font-size: 1.1rem;
	}

	.button:link, .button:active, .button:visited, .button, .button span {
		background-color: #1ec279 !important;
		color: #fff !important;
	}

	.button:hover {
		background-color: #00a968 !important;
		color: #fff !important;
	}
}

.mc-field-group {
	input[value] {
		font-size: 0.8rem;
		color: grey;
		text-align: center;
		font-style: italic;
	}
}
