/* ==========================================================================
   FOOTER
   ========================================================================== */

.site__footer {
	display: block;
	text-align: center;
	font-size: 1.1rem;
	color: #fff;
	background: $bgcolor url("/assets/img/footprints1.png") repeat-x;
	min-height: 4.0625rem;
	padding: 1rem;
}

