---
layout: default
---
<div id="theredfile" class="container {{ page.layout }}">

  <header class="post__header clearfix">

		<div class="clearfix titlebox">
	  	<div class="trf__titles" id="top">

				<h2 class="trf__title">THE RED FILE</h2>
				<h3 class="trf__date">{{ page.title }} | {{ page.date | date_to_string }}</h3>

				
			</div> <!-- end div titles -->
		</div> <!-- end div clearfix -->


  </header>

	

	<article class="trf__content" id="story-main" style="margin-bottom: 2rem;">
		<figure>
			<img class="shadowed" src="{{ page.image }}" alt="{{ post.title }}">
			<figcaption>{{ page.title }} | {{ page.date | date_to_string }}</figcaption>
			<figcaption>
				<button>SUBSCRIBE &amp; DOWNLOAD ISSUE</button>
			</figcaption>
		</figure>
  	{{ content }}
  </article>

</div> <!-- end of div post -->
